<div class="row">
    <h1 class="text-center">Hard & Soft skills</h1>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#1d1e33'"
            [showUnits]="false"
            [subtitle]="'85%'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#1d1e33'"
            [innerStrokeColor]="'#1d1e33'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>