<div>
    <a href="https://github.com/WalterPardini" target="_blank"><img src="../../../assets/github.png"  alt=""></a>
    <a href="https://www.linkedin.com/in/walter-pardini/" target="_blank"><img src="../../../assets/linkedin.png" alt=""></a>
    <a href="https://www.instagram.com/walterpardini/" target="_blank"><img src="../../../assets/instagram.png" alt=""></a>
    <a href="https://www.facebook.com/walter.pardini.980/" target="_blank"><img src="../../../assets/facebook.png" alt=""></a>
</div>