<div class = "row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/foto.jpg" class="img-fluid" id="fotodeperfil">
        <h3 id="nombre">{{persona.nombre}}</h3>
        <h6>Developer Full Stack</h6>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="acercademi">
        <h1>Acerca de mi</h1>
        <P>Completar Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Veritatis, beatae, illum architecto adipisci est sunt obcaecati 
            delectus fuga optio, enim eligendi neque incidunt quidem nobis 
            et excepturi ratione. Consequuntur, dolorum!</P>
    </div>
</div>